.input-group {
  display: flex;
  flex-flow: column wrap;
  margin-bottom: 18px;

  &.has-error {
    label {
      color: $error;
    }
    input {
      border-bottom: 1px solid $error;
      color: $error;
    }
  }

  label {
    color: $gray;
    font-family: $Muli;
    margin-bottom: 4px;
  }

  input {
    border: none;
    border-bottom: 1px solid $black;
    font-family: $Muli;
    font-size: 16px;
    height: 38px;
    padding: 0 20px;
    transition: border ease 0.5s;
    width: 90vw;
    @media screen and (min-width: $screen-tablet-min) {
      min-width: 433px;
      width: 100%;
    }
    &:focus {
      border-bottom: 2px solid $lightBlue;
      outline: none;
    }
  }
}
