.mb-40 {
  margin-bottom: 40px;
}

.help {
  font-size: 0.775rem;
  margin: 4px 0;
  width: 90vw;
  @media screen and (min-width: $screen-tablet-min) {
    width: 100%;
  }
}

.has-error {
  color: $error
}
