$white:          rgba(255, 255, 255, 1);
$lightGray:      rgba(0, 0, 0, 0.16);
$lightBlue:      rgba(169, 197, 186, 1);
$gray:           rgba(112, 112, 112, 1);
$black:          rgba(0, 0, 0, 1);
$error:          rgb(244, 67, 54);


